################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestBookStore/.vs/TestBookStore
/TestBookStore/bin/Debug/netcoreapp3.1
/TestBookStore/obj
